.snippet {
	background-color: var(--bg-color);
	color: var(--primary-color);
	padding: 1em;
	width: fit-content;
	border-radius: 0.4em;
	display: flex;
}

.copy {
	/* width: 1em;
	height: 1em; */
	background-color: var(--primary-color);
	right: 0;
	top: 0;
	margin-left: 1em;
	color: gray;
	padding: 0.2em 0.3em;
	border-radius: 0.1em;
	height: fit-content;
	cursor: pointer;
}
.copy:hover {
	opacity: 0.5;
}